In [17]:
import pandas as pd
import numpy as np

from processing import *

In [18]:
path = 'data\dataset_1937770_3.txt'

In [19]:
df = read_and_split_file(path)
df.sample(5)

                 text_no_spaces
id
3    новыйдивандоставканедорого
326        куплюмикроволновкубу
641      Настанетдень,ияеёброшу
208          новыйтостер,черный
9                куплюноутбукHP

In [20]:
restorer = SpaceRestorer()

test_cases = [
    "куплюайфон14про",
    "ищудомвПодмосковье",
    "сдаюквартирусмебельюитехникой",
    "куплютелевизорPhilips",
    "новыйноутбукAsus",
    "куплюPlaystation5диск",
    "ремонтквартирподключ",
    "новыйдиванIkea",
    "куплюшкаф,рабочий"
]

for case in test_cases:
    print(f"Исходный: {case}")
    print(f"Результат: {restorer.restore_spaces(case)}\n")

Исходный: куплюайфон14про
Результат: куплю айфон 14 про

Исходный: ищудомвПодмосковье
Результат: ищу дом в Подмосковье

Исходный: сдаюквартирусмебельюитехникой
Результат: сдаю квартирусмебельюитехникой

Исходный: куплютелевизорPhilips
Результат: куплю телевизор Philips

Исходный: новыйноутбукAsus
Результат: новый ноутбук Asus

Исходный: куплюPlaystation5диск
Результат: куплю Playstation 5 диск

Исходный: ремонтквартирподключ
Результат: ремонтквартирподключ

Исходный: новыйдиванIkea
Результат: новый диван Ikea

Исходный: куплюшкаф,рабочий
Результат: куплю шкаф, рабочий

In [ ]:
from data_collection import *


brand_pages = [
    "Apple",
    "Google",
    "Microsoft",
    "Amazon",
    "Meta",
    "Tesla",
    "Samsung",
    "Huawei",
    "Xiaomi",
    "Intel",
    "AMD",
    "PlayStation",
    "Xbox",
    "Nintendo",
    "LG",
    "Philips",
    "Sony",
    "Dell",
    "HP",
    "Asus",
    "Lenovo",
]

print("Скачиваем брендовые статьи...")
brand_texts = [get_wiki_page(title, lang="ru") for title in brand_pages]

print("Скачиваем случайные статьи...")
random_texts = get_random_articles(n=100, lang="ru")

print("Формируем общий корпус...")
full_text = " ".join(brand_texts + random_texts)

print("Создаём датасет из Википедии...")
wiki_rows = make_dataset(full_text, n_samples=10000)

print("Создаём синтетический датасет...")
synthetic_rows = generate_synthetic(rows_count=3000)

all_rows = wiki_rows + synthetic_rows
df = pd.DataFrame(all_rows)

df.to_csv("train_model_data\wiki_dataset.csv", index=False, encoding="utf-8", sep=';')
print("Готово! Сохранено в wiki_dataset.csv")

User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/119.0.0.0 Safari/537.36

Скачиваем брендовые статьи...
Скачиваем случайные статьи...

Случайные статьи: 100%|██████████| 100/100 [00:00<00:00, 176900.21it/s]

Формируем общий корпус...
Создаём датасет из Википедии...
Создаём синтетический датасет...
Готово! Сохранено в wiki_dataset.csv